header {
    border-bottom-color: var(--background-color);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition: border-bottom-color var(--transition-duration);
}

header.is-scrolled {
    border-bottom-color: var(--border-color);
}
